/* ================================= 
  Carousel
==================================== */

/* ---- image nav ---- */

.arrow {
	color: #efefef;
	opacity: 1 !important;
	font-size: 25px;
}

.arrow:hover,
.arrow:focus {
	color: #28e0c9;
	 -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

#carousel-custom {
    margin-top: 6rem;
    width: 100%;
    border: 2px solid #efefef;
}

.carousel-item {
	padding: .5rem;
}

.client-header {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.icon-link {
	background-color: #3c948b;
	color: #fff;
	padding: 10px 10px 5px 10px;
}

.icon-link:hover,
.icon-link:focus {
	border: 1px solid #28e0c9;
	background-color: #fff;
	color: #28e0c9;
}